
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>
<%# tool card start %>
<div class="container">
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="card col-4 m-2" style="width: 18rem;">
        <img src="<%= tool.picture_url%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"><%= tool.name %></h5>
          <p class="card-text"><%= tool.description %></p>
          <h4><%= tool.price%></h4>
          <%= link_to "Rent this Tool!", new_tool_rental_path(tool), class:"btn btn-primary"  %>
        </div>
      </div>
    <% end %>
   </div>
</div>
