<%# tool card start %>
<div class="container-fluid">
    <%= render "categories-sidebar",  categories: @categories %>
<%# tool card start %>
<div class="container">
  <div class="row d-flex justify-content-center">
    <% @tools.each do |tool| %>
      <div class="card shadow p-3 m-3 bg-body-tertiary rounded-4 col-4 m-2 p-2" style="width: 18rem;">
        <%= link_to tool_path(tool) do %>
         <img src="<%= tool.picture_url%>" class="card-img-top img-tools" alt="...">
        <% end %>
        <div class="card-body d-flex flex-column justify-content-end">
        <strong>
          <h3 class="card-title text-center"><%= tool.name %></h3>
          </strong>

          <p class="card-text justify-text"><%= tool.description %></p>
          <h4 class= "card-price text-center">$<%= tool.price%></h4>

          <% if current_user != tool.user %>
            <%= link_to "Rent this Tool!", new_tool_rental_path(tool), class:"btn btn-primary mb-2 "  %>
          <% end %>
        </div>
      </div>
    <% end %>
   </div>
</div>
