
<%# tool card start %>
<div class="container">
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="card col-4 m-2" style="width: 18rem;">
        <img src="<%= tool.picture_url%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"><%= tool.name %></h5>
          <p class="card-text"><%= tool.description %></p>
          <h4><%= tool.price%></h4>
          <% if current_user != tool.user %>
            <%= link_to "Rent this Tool!", new_tool_rental_path(tool), class:"btn btn-primary mb-2"  %>
          <% end %>
          <%= link_to "See this Tool!", tool_path(tool), class:"btn btn-secondary"  %>
        </div>
      </div>
    <% end %>
   </div>
</div>
