<div class="card shadow p-3 m-3 bg-body-tertiary rounded-4 col-12 col-md-6 col-lg-4">
  <%= link_to tool_path(tool) do %>
   <img src="<%= tool.picture_url%>" class="card-img-top" alt="...">
  <% end %>
  <div class="card-body">
    <h3 class="card-title"><%= tool.name %></h5>
    <%= render "shared/rating", tool: tool%>
    <p class="card-text"><%= tool.description %></p>
    <h4><%= tool.price%></h4>
    <% if current_user == tool.user %>
       <%= link_to 'Delete', tool_path(tool), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to "Rent this Tool!", new_tool_rental_path(tool), class:"btn btn-primary"  %>
    <% end %>
     <%= link_to "See this Tool!", tool_path(tool), class:"btn btn-secondary"  %>
  </div>
</div>
